<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Detail Sample</title>
</head>
<!-- 
<h2>変更</h2>
<form method="post" action="/update/{{.todo.ID}}">
    <p>内容<input type="text" name="text" size="30" placeholder="入力してください"></p>
    <p><input type="submit" value="Update"></p>
</form>

<h2>削除</h2>
<form method="post" action="/delete/{{.todo.ID}}">
    <p><input type="submit" value="Delete"></p> -->

<body>
    <h1>Todo Detail</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{.todo.ID}}</td>
                <td>{{.todo.Text}}</td>
                <td>{{.todo.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
                <td>{{.todo.UpdatedAt.Format "2006-01-02 15:04:05"}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>