<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Sample App</title>
</head>

<body>
    <h1>Todo List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        <tbody>
            {{range .todos}}
            <tr>
                <td>
                    <a href="/detail/{{.ID}}">
                        {{.ID}}</a>
                </td>
                <td>{{.Text}}</td>
                <td>{{.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
                <td>{{.UpdatedAt.Format "2006-01-02 15:04:05"}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>

</html>