<!DOCTYPE html>
<html lang="ja">

<!-- <h2>追加</h2>
<form method="post" action="/new">
    <p>内容<input type="text" name="text" size="30" placeholder="入力してください"></p>
    <p><input type="submit" value="Send"></p>
</form> -->


<body>
    <h1>Todo List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        <tbody>
            {{if eq .user.Status 0}}
            {{range .todos}}
            <tr>
                <!-- <td>
                    <a href="/detail/{{.ID}}">
                        {{.ID}}</a>
                </td> -->
                <td>{{.ID}}</td>
                <td>{{.Text}}</td>
                <td>{{.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
                <td>{{.UpdatedAt.Format "2006-01-02 15:04:05"}}</td>
            </tr>
            {{end}}
            {{else if eq .user.Status 1}}
            {{range .todos}}
            <tr>
                <!-- <td>
                    <a href="/detail/{{.ID}}">
                        {{.ID}}</a>
                </td> -->
                <td>{{.ID}}</td>
                <td>{{.Text}}</td>
                <td>{{.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
                <td>{{.UpdatedAt.Format "2006-01-02 15:04:05"}}</td>
            </tr>
            {{end}}
            {{else if eq .user.Status 2}}
            {{range .todos}}
            <tr>
                <!-- <td>
                    <a href="/detail/{{.ID}}">
                        {{.ID}}</a>
                </td> -->
                <td>{{.ID}}</td>
                <td>{{.Text}}</td>
                <td>{{.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
                <td>{{.UpdatedAt.Format "2006-01-02 15:04:05"}}</td>
            </tr>
            {{end}}
            {{else}}
            <p>Please sign in to continue.</p>
            {{end}}
        </tbody>
    </table>

</body>

</html>